body {
  background-color: rgb(246, 246, 246);
}

.card {
  width: 60%;
  margin: 3rem auto;
}

::placeholder {
  font-style: italic;
}

.text-input {
  border: none;
  outline: none;
}

.submit-icon {
  padding-right: 24px;
  cursor: pointer;
  vertical-align: baseline;
}

.todoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox {
  margin-right: 5px;
}

.text-completed {
  opacity: 0.6;
  text-decoration: line-through;
  color: #020253;
}

.icon-activated {
  color: rgb(255, 27, 202);
  opacity: 1;
}
